%h3.page-title STATS
%br
%hr
%h4 WHICH TEAM LEADS THE MOST GYMS?
%hr
- @most_gyms.each do |r|
  %b
    = link_to "#{r[0].upcase} | ", team_path(r[0])
%hr
%h4 WHICH POKEMON HAS BEEN CAUGHT THE MOST?
%hr
- @caught_most.each do |r|
  %b
    = link_to r[0].upcase, pokemon_path(r[0])
    = "(caught by #{r[1]} trainers)"
%hr
%h4 WHAT ARE THE ITEMS THAT RANGE FROM ₱100 TO ₱200?
%hr
- @price_range.each do |r|
  %b
    = link_to "#{r[0].upcase} | ", item_path(r[0])
%hr
%h4 WHICH POKEMON HAVE NEVER BEEN CAUGHT?
%hr
- @uncaught.each do |r|
  %b
    = link_to "#{r[0].upcase} | ", pokemon_path(r[0])
%hr
%h4 AVERAGES
%hr
%h5 AVERAGE HEALTH BOOST
- if @avg_heal.count > 1
  - @avg_heal.each do |r|
    %b
      = r[0].floor
%h5 AVERAGE COMBAT BOOST
- if @avg_combat.count > 1
  - @avg_combat.each do |r|
    %b
      = r[0].floor
%h5 AVERAGE CATCH RATE
- if @avg_cr.count > 1
  - @avg_cr.each do |r|
    %b
      = r[0].floor
%h5 AVERAGE HP
- if @avg_hp.count > 1
  - @avg_hp.each do |r|
    %b
      = r[0].floor
%h5 AVERAGE CP
- if @avg_cp.count > 1
  - @avg_cp.each do |r|
    %b
      = r[0].floor
%hr
%h4 WHICH TRAINERS ARE THE LEADER OF THE MOST GYMS?
%hr
- @leads_most.each_with_index do |r, i|
  %b
    = "#{i+1}."
    = link_to "#{r[0].upcase} (#{r[1]}) | ", trainer_path(r[0])
%hr
%h4 WHO OWNS THE MOST POWERFUL POKEMON?
%hr
- @most_pow.each_with_index do |r, i|
  %b
    = link_to "#{r[1].upcase} (#{r[0]})", trainer_path(r[1])
%hr
%h4 IN WHICH CITIES CAN COMBAT ITEMS BE FOUND?
%hr
- @cities.each_with_index do |r, i|
  %b
    = "#{r[1].upcase} | "
