%p#notice= notice
.row
  .col-md-5
    %h3.page-title
      = @pokemon.pokemon_name.upcase
.row
  .col-md-5
    = image_tag @pokemon.image, :class => "show_img"
.row
  .col-md-3
    Combat Power
  .col-md-2
    = @pokemon.cp 
.row
  .col-md-3
    Hit Points 
  .col-md-2
    = @pokemon.hp 

%br

= link_to 'Edit', edit_pokemon_path(@pokemon)
\|
= link_to 'Back', pokemons_path
