%h1.page-title TEAMS
%br
.row
  .col-md-12
    .page-title
      - ('A'..'Z').each do |letter|
        %a{:href => '/teams?filter='+letter}= letter.upcase
= form_tag teams_path, :method => :get do
  .row{:style => "margin-top:5px;margin-bottom:5px;"}
    .offset-md-4.col-md-4
      = text_field_tag "filter", "", :class => "form-control"
  .row
    .offset-md-5.col-md-2
      = submit_tag "SEARCH", :class => "btn btn-default arial-black adjust-input"
%br
- @teams.each_with_index do |team, i|
  - trainers = Trainer.where("team_name = ?", team.team_name) 
  - if i % 4 == 0
    .row
  .col-md-3
    - if trainers.size == 0
      %h4= team.team_name.upcase
    - else
      %a{:href => "", :data => {:toggle => "collapse", :target => "#trainers"}}
        %h4
          = team.team_name.upcase
          = fa_icon "caret-down"
      .row.collapse{:id => "trainers"}
        .col-md-6
          - trainers.each do |trainer|
            .row
              .col-md-12
                %a{:href => trainer_path(:id => trainer.trainer_name)}
                  %h5= trainer.trainer_name.upcase
